# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Builds/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj

Assets/Scripts/Database/Secrets


# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.opendb
*.DB

# ============ #
# Unwanted assets 
# ============ #

*.ogv
*.mp4
*.mov
*.tif